*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:'Anuphan',sans-serif;

background:#FFEAF4;

}

.container{

width:900px;

margin:auto;

padding:40px;

}

h1{

text-align:center;

color:#ff4da7;

margin-bottom:30px;

}

.missionCard{

background:white;

padding:25px;

border-radius:20px;

margin-bottom:20px;

box-shadow:0 8px 20px rgba(0,0,0,.15);

}

.missionCard h2{

margin-bottom:8px;

}

.buttons{

margin-top:15px;

display:flex;

gap:10px;

}

button{

border:none;

padding:12px 22px;

border-radius:15px;

cursor:pointer;

font-size:18px;

font-family:'Anuphan',sans-serif;

background:#ff69b4;

color:white;

}

#backBtn{

display:block;

margin:40px auto;

}

.playBtn{

background:#42c96b;

}

.editBtn{

background:#ffb300;

}

.deleteBtn{

background:#ff5c7c;

}